.sp-replacer.colorpicker-button {
    background: $lighter-grey;
    border: 1px solid $grey;
    border-radius: $border-radius;
    padding: 4px 10px 4px 4px;
    box-shadow: $box-shadow;

    &:hover, &.sp-active {
        border-color: $darker-grey;
    }

    &.sp-active {
        border-radius: $border-radius $border-radius 0 0;
        border-bottom: 0;
        margin-bottom: 1px;
    }

    .sp-preview {
        width: 45px;
        margin-right: 5px;
    }

    .sp-dd {
        padding: 3px 0 2px 6px;
    }
}

.sp-container.colorpicker-selectcolor {
    position: fixed!important;
    background: $white;
    border: 1px solid $grey;
    border-radius: 0 $border-radius $border-radius $border-radius;
    box-shadow: $box-shadow-large;
    overflow: visible!important;
    margin-top: 10px;

    .sp-input-container {
        margin-bottom: -10px;
        margin-top: 5px;
    }

    .sp-input {
        background: white;
        box-shadow: inset $box-shadow;
    }

    .sp-slider {
        height: 5px;
    }
}

.sp-picker-container {
    @include cssTriangle(6px, 1px, $grey, top, 10%, $white);
}