@font-face {
  font-family: "icons";
  src: url("fonts/icons.ttf") format("truetype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drawer:before {
  content: "\e602";
}

.icon-minus:before {
  content: "\e607";
}

.icon-ccw:before {
  content: "\e608";
}

.icon-back:before {
  content: "\e609";
}

.icon-layout:before {
  content: "\e60a";
}

.icon-mobile:before {
  content: "\e601";
}

.icon-mail:before {
  content: "\e604";
}

.icon-paperplane:before {
  content: "\e605";
}

.icon-pencil:before {
  content: "\e606";
}

.icon-user-add:before {
  content: "\e60f";
}

.icon-users:before {
  content: "\e60e";
}

.icon-user:before {
  content: "\e60d";
}

.icon-search:before {
  content: "\e624";
}

.icon-house:before {
  content: "\e622";
}

.icon-cog:before {
  content: "\e62a";
}

.icon-lifebuoy:before {
  content: "\e63b";
}

.icon-eye:before {
  content: "\e63c";
}

.icon-phone:before {
  content: "\e600";
}

.icon-vcard:before {
  content: "\e610";
}

.icon-tools:before {
  content: "\e62b";
}

.icon-clock:before {
  content: "\e63d";
}

.icon-rocket:before {
  content: "\e650";
}

.icon-code:before {
  content: "\e65f";
}

.icon-screen:before {
  content: "\e660";
}

.icon-credit-card:before {
  content: "\e663";
}

.icon-bars:before {
  content: "\e671";
}

.icon-lock:before {
  content: "\e673";
}

.icon-checkmark:before {
  content: "\e677";
}

.icon-plus3:before {
  content: "\e680";
}

.icon-cross:before {
  content: "\e678";
}

.icon-warning:before {
  content: "\e687";
}

.icon-list2:before {
  content: "\e696";
}

.icon-text:before {
  content: "\e697";
}

.icon-docs:before {
  content: "\e69a";
}

.icon-pictures:before {
  content: "\e69c";
}

.icon-folder:before {
  content: "\e69f";
}

.icon-upload2:before {
  content: "\e6a7";
}

.icon-play:before {
  content: "\e6ab";
}

.icon-pause:before {
  content: "\e6ac";
}

.icon-stop:before {
  content: "\e6ae";
}

.icon-arrow-left4:before {
  content: "\e6c9";
}

.icon-arrow-down4:before {
  content: "\e6ca";
}

.icon-arrow-up3:before {
  content: "\e6cb";
}

.icon-arrow-right4:before {
  content: "\e6cc";
}

.icon-arrow-left5:before {
  content: "\e6cd";
}

.icon-arrow-down5:before {
  content: "\e6ce";
}

.icon-arrow-up4:before {
  content: "\e6cf";
}

.icon-arrow-right5:before {
  content: "\e6d0";
}

.icon-arrow-left6:before {
  content: "\e6d1";
}

.icon-arrow-down6:before {
  content: "\e6d2";
}

.icon-arrow-up5:before {
  content: "\e6d3";
}

.icon-arrow-right6:before {
  content: "\e6d4";
}

.icon-menu:before {
  content: "\e6dd";
}

.icon-twitter:before {
  content: "\e6f4";
}

.icon-facebook:before {
  content: "\e6f6";
}

.icon-info:before {
  content: "\e683";
}

.icon-info2:before {
  content: "\e684";
}

.icon-question:before {
  content: "\e685";
}

.icon-help:before {
  content: "\e686";
}

.icon-switch:before {
  content: "\e692";
}

.icon-minus2:before {
  content: "\e67c";
}

.icon-youtube:before {
  content: "\e603";
}
