/*doc
---
title: Multiselect
name: multiselect
category: Modules
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element. Buttons next to each other
is spaced out with the adjacent selector `.btn + .btn`.

```html_example
<div searchable-dropdown>
    <div class="display-value has-btn-dropdown">
        <a href="#1" class="btn muted">Choose list...</a>
    </div>
    <ul>
        <li class="input">
            <div class="input-wrap input-wrap-small">
                <input type="text" class="has-icon no-mar small" placeholder="Search for list...">
                <span class="icon-search prepend-icon"></span>
                <span class="append-icon">
                    <a class="icon-cross ng-hide"></a>
                </span>
            </div>
        </li>
        <li>Multiselect option 1</li>
        <li class="selected">
            <span>Multiselect option 2</span>
            <span style="color: #999;" class="right">1 prenumeranter</span>
        </li>
        <li>Multiselect option 3</li>
        <li>Multiselect option 4</li>
        <li>Multiselect option 5</li>
        <li>Multiselect option 6</li>
        <li>Multiselect option 7</li>
        <li>Multiselect option 8</li>
        <li>Multiselect option 9</li>
        <li>Multiselect option 10</li>
    </ul>
</div>
```

*/


[searchable-dropdown] {
    position: relative;
    margin-bottom: $margin;
}

[searchable-dropdown] .display-value {
    display: inline-block;
}

[searchable-dropdown] ul {
    background: $white;
    top: 120%;
    width: 100%;
    z-index: 100;
    border: 1px solid $grey;
    margin: 0;
    padding-bottom: 8px;
    border-radius: $border-radius;
    box-shadow: $box-shadow-large;
    @include cssTriangle(6px, 1px, $grey, top, 5%, $white);
    position: absolute;

    .icon-arrow-up3 {
        position: absolute;
        top: 36%;
        right: 1rem;
    }
}

[searchable-dropdown] ul li {
    padding: 4px 15px;
    font-size: 14px;
    font-weight: $semi-bold;
    position: relative;

    &.input {
        padding: 15px 15px 0;
        border-top: none;
        margin-bottom: 8px;

        &:hover {
            background: none;
        }
    }

    &.result-item,
    &:hover {
        cursor: pointer;
    }

    &.no-results {
        padding: 1rem;
        border-radius: 0 0 3px 3px;
        border-bottom: none;
    }
}

// [searchable-dropdown] ul li.selected,
[searchable-dropdown] ul li:hover {
    background: $light-grey;
}

// Make the dropdown white in grey boxes
[searchable-dropdown].send-search ul, [searchable-dropdown].send-search .display-value {
    background: white;
}