//
// Progress bar
//

/*doc
---
title: Progress bar
name: progress bar
category: Modules
---

Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text
ever since the 1500s, when an unknown printer took a galley of type
and scrambled it to make a type specimen book.

```html_example
<div class="progress-wrap">
    <div class="progress" style="width: 50%;">50%</div>
</div>
```

*/

.progress-wrap {
  background: $base-grey;
  height: $margin;
  border-radius: $margin;
  margin-bottom: $margin;
}

.progress {
  background: $green;
  border-radius: $margin;
  height: $margin;
  text-align: center;
  line-height: $margin;
  font-size: $font-size-medium;
  font-weight: $semi-bold;
  color: $white;
}
