//
// Alerts
//

.alert
    color: #fff
    padding: 0.7rem 2rem .6rem 1rem
    margin-bottom: 1.5rem
    border-radius: $border-radius
    position: relative
    display: block
    line-height: 1.6

    &:after
        position: absolute
        top: 50%
        margin-top: -11px
        right: 1rem
        font-family: $icon

    &.success
        background: $green

        &:after
            content: '\e677'

    &.error
        background: $red

        &:after
            content: '\e687'

    &.edit
        background: $grey
        color: $black

        &:after
            content: '\e606'

    // Remove link color in alert
    a
        color: #fff

        &.underline
            border-bottom: 1px dotted rgba(#fff, .5)