/*doc
---
parent: forms
title: Text fields
---

```html_example
<label for="input_text">Text input</label>
<input type="text" id="input_text" />
<label for="text_area">Text Area</label>
<textarea id="text_area"></textarea>
```

*/


input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
textarea {
    background: $lighter-grey;
    border: 1px solid $grey;
    display: block;
    width: 100%;
    height: $height;
    line-height: $height;
    margin-bottom: $margin;
    padding: 0 9px;
    border-radius: $border-radius;
    font-size: $font-size-medium;
    box-shadow: inset $box-shadow;

    // States
    &:hover {
        border: 1px solid $dark-grey;
    }

    &:focus {
        background: $white;
        border: 1px solid $blue;
        outline: 0;
    }

    // Modifiers
    &.error {
        border: 1px solid $red;

        &:focus {
            border: 1px solid $red;
        }
    }

    &.small {
        height: $height-small;
        line-height: $height-small;
    }
}

textarea {
    min-height: 150px;
    line-height: $line-height;
    padding: 5px 9px;
}


// -------------------------------------------------------------
// # Icons inside textfields
// -------------------------------------------------------------
.input-wrap {
    position: relative;

    input[type="email"].ng-valid,
    input[type="text"].ng-valid,
    input[type="password"].ng-valid,
    input[type="url"].ng-valid {
        position: relative;
    }

    .valid, .invalid, .append-icon {
        position: absolute;
        top: 11px;
        right: 11px;
        color: $green;
        &.invalid {
            color: $red;
        }
    }
    .has-icon {
        padding-left: 35px;
    }

    .prepend-icon,
    .append-icon {
        position: absolute;
        top: 11px;
        line-height: 1;
    }

    .prepend-icon { left: 11px; }
    .append-icon { right: 11px; }
}

.input-wrap-small .prepend-icon {
    position: absolute;
    top: 7px;
    left: 7px;
}

.input-wrap-small .append-icon {
    top: 7px;
    right: 7px;
}

.input-wrap-small input[type="text"] {
    padding-left: 28px;
}