/*doc
---
title: Overview
name: overview
category: Overview
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element. Buttons next to each other
is spaced out with the adjacent selector `.btn + .btn`.
*/


// -------------------------------------------------------------
// # Tools
// -------------------------------------------------------------

@import "tools/settings";
@import "tools/mixins";
@import "tools/helpers";


// -------------------------------------------------------------
// # Base
// -------------------------------------------------------------

@import "base/normalize";
@import "base/global";
@import "base/typography";
@import "base/forms";
@import "base/tables";


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

@import "layout/grid";
@import "layout/header";
@import "layout/footer";


// -------------------------------------------------------------
// # Modules
// -------------------------------------------------------------

@import "modules/accordions";
@import "modules/alerts";
@import "modules/buttons";
@import "modules/calendar";
@import "modules/colorpicker";
@import "modules/dropdowns";
@import "modules/icons";
@import "modules/modals";
@import "modules/nav";
@import "modules/notifications";
@import "modules/pagination";
@import "modules/progressbar";
@import "modules/slider";
@import "modules/tabs";
@import "modules/tinymce";
@import "modules/tooltips";