//
// MIXINS
//

// @include bp(medium) { SCSS here };
@mixin bp($point) {
  @if $point == large {
    @media (min-width: 1600px) {
      @content;
    }
  }
  @if $point == medium {
    @media (max-width: 1080px) {
      @content;
    }
  }
  @if $point == small {
    @media (max-width: 600px) {
      @content;
    }
  }
}

// @include microclearfix;
@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    *zoom: 1;
  }
}

// @include fontface('family', 'assets/fonts/', 'myfontname');
@mixin fontface($font-family, $font-url, $font-name) {
  @font-face {
    font: {
      family: $font-family;
      style: normal;
      weight: normal;
    };
    src: url($font-url + "/" + $font-name + ".eot");
    src: url($font-url + "/" + $font-name + ".eot#iefix") format("embedded-opentype"), url($font-url + "/" + $font-name + ".woff") format("woff"), url($font-url + "/" + $font-name + ".ttf") format("truetype"), url($font-url + "/" + $font-name + ".svg#" + $font-name) format("svg");
  }
}
