//
// HEADER
//

.site-header {
  background: $blue;
  position: relative;
  min-width: 930px;
  z-index: $z-small;
  transform: translate3d(0, 0, 0);
  transition: 0.2s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.logo a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  line-height: 64px;
  text-align: center;
  background: $dark-blue;
  border-right: 1px solid $light-blue;
  color: $white;
  text-transform: uppercase;
  font-weight: $bold;
  font-size: 20px;
  &:visited {
    color: $white;
  }
}

.site-nav {
  margin-left: 230px;
  > ul {
    margin: 0;
    width: auto;
    display: inline;
  }
  li {
    float: left;
    &.active > a:not(.btn) {
      background: $light-blue;
      position: relative;
      &:hover {
        background: $light-blue;
      }
      &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(84, 149, 192, 0);
        border-top-color: #5495c0;
        border-width: 6px;
        margin-left: -6px;
      }
    }
  }
  li.last-item {
    float: right;
    > a {
      border-left: 1px solid $light-blue;
      @media (max-width: 1050px) {
        border-left: none;
      }
    }
  }
  li.upgrade {
    float: right;
    a {
      margin: 0.85rem 0.9rem 0 0;
    }
    @media (max-width: 1050px) {
      display: none;
    }
  }
  li.new-message {
    float: right;
    a {
      background: none;
      margin-top: 1rem;
      margin-right: 0.5rem;
      &:hover {
        background: none;
        .message-count {
          background: $white;
          color: $red;
        }
      }
      .icon-mail {
        font-size: 1.2rem;
      }
      .message-count {
        background: $red;
        width: 15px;
        display: inline-block;
        position: absolute;
        top: 1px;
        right: 10px;
        height: 15px;
        font-size: 10px;
        line-height: 1.3;
        border-radius: 15px;
        text-align: center;
      }
    }
  }
  > ul > li > a:not(.btn) {
    display: block;
    padding: 1.4rem 1.3rem 1.1rem;
    border-right: 1px solid $light-blue;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: $bold;
    color: $white;
    &:hover {
      background: $dark-blue;
    }
  }
  a > [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    margin-right: 0.4rem;
    font-size: 1rem;
    vertical-align: middle;
    margin-top: -0.1rem;
    @media (max-width: 1190px) {
      display: none;
      &.icon-mail {
        display: inline-block;
      }
    }
  }
}
